.main{
    
    margin-left: 430px !important; 
   
}

.bordi{
    border-radius:  10px 10px 10px 10px !important;
 
}
h1{
    font-family: Arial, Helvetica, sans-serif !important;
    
}